<section id="hub-view" class="viewport-above-scoreboard">
  <h1>Quizshow</h1>
  <div class="game-card-area">
    <div class="game-cards">
      <a class="game-card" href="#/jeopardy">
        <img src="assets/Logos/Logo_Jeopardy.png" alt="Jeopardy">
      </a>
      <a class="game-card" href="#/ordering">
        <img src="assets/Logos/Logo_Order_Up.png" alt="Order Up">
      </a>
      <a class="game-card" href="#/listing">
        <img src="assets/Logos/Logo_List_It.png" alt="List It">
      </a>
      <a class="game-card" href="#/sync">
        <img src="assets/Logos/Logo_Sync_Up.png" alt="Sync Up">
      </a>
    </div>
  </div>
</section>
